div.container {
  width: 900px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#photo {
     width: 200px;
     padding: 10px 20px;
     margin: 30px; 
     border: 5px solid #040;   
     
}

.left{
  text-align: left;
}
.border{ 
  border-bottom: 1px solid black;
}


#RS{
float: left;
position: relative;
margin-left: 30px;
}

#git{
  float: left;
}

#end{
  float: left;
}
